<ion-header>
  <ion-toolbar class="ion-padding">
      <ion-title class="ion-text-center" style="padding-top: 8%;">Iniciar Sesión</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
      <ion-item class="ion-text-center" required>
        <ion-label position="stacked" style="padding-left: 34%;">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="mdl_user" required></ion-input>
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-label position="stacked" style="padding-left: 33%;">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="mdl_pass" required></ion-input>
        <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>
            <ion-icon name="eye-outline" style="width: 25px; height: 25px;"></ion-icon>
          </ion-label>
        </ion-item>
      </ion-item>
      <br>
      <div style="display: flex; justify-content: center;">
        <ion-button shape="round" fill="outline" class="animado" (click)="ingresar()" color="tertiary">Entrar</ion-button>
        <ion-button shape="round" fill="outline" class="animado2" (click)="cambioPass()" color="tertiary">Cambiar Contraseña</ion-button>  
      </div>
      <ion-button shape="round" fill="outline" class="animado" id="open-modal" expand="block" color="tertiary">Registrarse</ion-button>

      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="atras()" shape="round" fill="outline" class="animado2" color="tertiary">Atras</ion-button>
              </ion-buttons>
              <ion-title class="ion-text-center">Registro</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="almacenar()" shape="round" fill="outline" class="animado2" color="tertiary">Listo</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item class="ion-margin-top inputRedondo" lines="none">
              <ion-label position="floating">Email</ion-label>
              <ion-input [(ngModel)]="mdl_rut"></ion-input>
            </ion-item>
            <ion-item class="ion-margin-top inputRedondo" lines="none">
              <ion-label position="floating">Nombre</ion-label>
              <ion-input [(ngModel)]="mdl_nombre"></ion-input>
            </ion-item>
            <ion-item class="ion-margin-top inputRedondo" lines="none">
              <ion-label position="floating">Apellido</ion-label>
              <ion-input [(ngModel)]="mdl_apellido"></ion-input>
            </ion-item>
            <ion-item class="ion-margin-top inputRedondo" lines="none">
              <ion-label position="floating">Password</ion-label>
              <ion-input [(ngModel)]="mdl_sueldo" type="password"></ion-input>
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-modal>
</ion-content>
