<ion-header>
  <ion-toolbar class="oscuro">
    <ion-title>Selección de Personas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="magnolia ion-padding">
  <ion-item class="ion-margin-top inputRedondo" lines="none">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="mdl_nombre"></ion-input>
  </ion-item>
  <ion-button expand="block" class="oscuro ion-margin-top" (click)="buscar()"> Buscar </ion-button>

  <!-- <ion-item *ngFor="let p of lista_personas">
    <ion-label>{{ p.RUT }}</ion-label>
    <ion-label>{{ p.NOMBRE}} {{ p.APELLIDO}}</ion-label>

    <ion-button color="danger" (click)="eliminar(p.RUT)">
      <ion-icon name="trash" slot="icon-only"></ion-icon>
    </ion-button>

  </ion-item> -->

  <ion-card *ngFor="let p of lista_personas">
    <ion-card-header>
      <ion-card-subtitle>{{ p.NOMBRE }} {{ p.APELLIDO }}</ion-card-subtitle>
      <ion-card-title>
        <ion-icon  name="person"></ion-icon>
        {{ p.RUT }}
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      $ {{ p.SUELDO }}
      <ion-button expand="block" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
        Eliminar
      </ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>