.imagebanner {
    filter: blur(20px);
    height: 55px;
    width: 100%;
    position: absolute; 
    z-index: 1; 
    padding-top: -55px;
}

.texto {
    color: white;
    right: -25%; 
    left: 25%;
    position: absolute; 
    z-index: 2;
    text-shadow: 5px 5px 10px #000000, 5px 5px 10px #000;
    filter: saturate(285%);
}


.imageqr {
    margin-top: 10%;
    border-radius: 53px 10px 53px 10px;
    box-shadow: 6px 5px 23px 7px rgba(87, 15, 182, 0.486);
    height: 300px;
    width: 300px;
    cursor: pointer;
    
}


